.App {
  text-align: center;
  background-color: #447ae4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blacksquare {
  background-color: #808080;
  width: 60px;
  height: 60px;
  color: #808080;
}

.blacksquare:empty::after {
  content: ".";
  visibility: hidden;
}

.whitesquare {
  background-color: #fff;
  width: 60px;
  height: 60px;
}

.whitesquare:empty::after {
  content: ".";
  visibility: hidden;
}

.Grid {
  display: flex;
  flex-flow: column;
}

.Checker-Row {
  display: flex;
  flex-flow: row;
}

.red-circle {
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 50%;
  color: red;
}

.red-triangle {
  width: 0;
  height: 0;
  border-top: 50% solid transparent;
  border-right: 100% solid red;
  border-bottom: 50% solid transparent;
}

.black-circle {
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 50%;
  color: #000000;
}

.black-triangle {
  width: 0;
  height: 0;
  border-top: 50% solid transparent;
  border-right: 100% solid red;
  border-bottom: 50% solid transparent;
}

.Grid-Container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.Colors-Container {
  margin: 20px;
}


